@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    min-height: 100vh;
    /* background-color: #747474; */
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #fff;
}

#sideBar{
    width: 18%;
    background-color: #ffffff;
    height: 100vh;
    overflow: scroll;
}

#imageContainer{
    width: 82%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.subbreeds {
    /* padding: 10px; */
    /* border: 1px solid #ddd; */
    margin-top: 0px;
    background-color: #f1f1f1;
    
}

.subbreeds a {
    display: block;
    text-decoration: none;
    color: #303030;
    /* font-size: 14px; */
}

.subbreeds a:hover {
    color: #0969da;
}

.split-btn-container {
    margin-bottom: 15px;
}

.main-btn{
    width: 80%;
}

.sub-btn{
    width: 20%;
}

.mainBtn{
    text-align: left;
    border-radius: 0px!important;
    /* font-weight: 500; */
    color:#313131;
    /* font-size: 15px; */
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
}

#second-btn{
    border-left: 1px solid #9e9e9e;

}

#mainSection{
    background-color: #bfbfbf;
}

#mainSection button:hover{
    color: #0064d7;
    background-color: #e1e1e1;
   
}